.site-layout .site-layout-background {
    background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}
.site-card-wrapper {
    padding: 30px;
    background: #ececec;
}
.ant-layout-sider-children .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}